#menu {
  width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
    display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#banner {
    width: 100%;
    height: 340px;
    overflow:hidden;
}
#title_header {
    text-align:left;
}
#title_header h1 {
    color:#2D2722;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:42px;
    letter-spacing:-1px;
    text-shadow:-1px 1px 2px #FFFFFF;
    text-transform:lowercase;
}
#content {
    padding: 25px;
    background: #e8e0dc;
}
#page {
    background: #e8e0dc;
    width:980px;
    margin: 0 auto;
    text-align:left;
    max-width:850px;
    min-width:610px;
    padding:0;
    overflow:hidden;
    width:94%;
    height: 1000px;
}
body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #e8e0dc;
}
.menuitem {
  display: block;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background: transparent url(../images/bg-bubplastic-button.gif) top left no-repeat;
}

.menuitem a {
	display: block;
	margin: 0;
	width: 100%;
	padding-left: 35px;
	text-transform: uppercase;
	font-family: "Helvetica Neue",helvetica,"microsoft sans serif",arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url(../images/bg-bubplastic-button.gif) top left no-repeat;
}

.selecedmenuitem {
	display: block;
	margin: 0;
	width: 100%;
	padding-left: 35px;
	text-transform: uppercase;
	font-family: "Helvetica Neue",helvetica,"microsoft sans serif",arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url(../images/bg-bubplastic-button.gif) top left no-repeat;
	cursor: pointer;
}

/* BLUE HOVER */
.menuitem a:hover,
.menuitem a {
	background: transparent url(../images/bg-bubplastic-h-blue.gif) top left no-repeat;
}
.selecedmenuitem a:hover,
.selecedmenuitem a {
	background: transparent url(../images/bg-bubplastic-h-blue.gif) top right no-repeat;
}

.input {
    margin: 10px;
    padding: 10px;
}